* {
    margin: 0px;
    padding: 0px;
    font-family: "Ink Free";
}

body {
    background: url('bg.jpg') no-repeat;
    background-size: fill;
    background-position: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}

.lbox {
    padding: 40px 30px;
    width: 25%;
    border: 2px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 30px;
    backdrop-filter: blur(30px);
    background-color: transparent;
    margin: 5%;
}

.lbox .text {
    text-align: center;
    color: aliceblue;
}

.lbox .input {
    text-align: center;
    width: 90%;
    height: 50px;
    margin: 30px 0px
}

.input input {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 2px solid #ff9090;
    border-radius: 20px;
    font-size: 16px;
    color: #000000;
    padding: 0px 10px;
}

.input input::placeholder {
    color: #000000;
}

.lbox .ele{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lbox .btn {
    margin: 10px;
    width: 25%;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #00c8ff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.lbox .Next {
    font-size: 15px;
    text-align: center;  
    font-weight: 600;
    margin: 10px;
}

.Next a {
    color: #ff0000;
    text-decoration: none;
}

.Next a:hover {
    color: #1500ff;
    text-decoration: underline;
    cursor: pointer;
}

.lbox .admin {
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
}

.admin a {
    color: #ff8080;
    text-decoration: none;
}

.admin a:hover {
    color: aqua;
    text-decoration: underline;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    padding: 35px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.25);
    padding: 40px 30px;
    width: 28%;
    border: 2px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 30px;
    backdrop-filter: blur(30px);
    background-color: transparent;
    margin: 5%;
    visibility: hidden;
    opacity: 0;
}

.popup .text {
    text-align: center;
    color: aliceblue;
}

.popup .input {
    text-align: center;
    width: 95%;
    height: 50px;
    margin: 30px 0px
}

.input input {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 2px solid #ff9090;
    border-radius: 20px;
    font-size: 16px;
    color: #000000;
    padding: 0px 10px;
}

.input input::placeholder {
    color: #000000;
}

.popup .ele{
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup .btn {
    margin: 10px;
    width: 25%;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #00c8ff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.popup .btn:hover {
    margin: 10px;
    width: 25%;
    height: 30px;
    background-color: #00c8ff;
    border: 1px solid #00c8ff;
    border-radius: 10px;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.popup.active{
    top: 40%;
    visibility: visible;
    opacity: 1;
}

.lbox.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
    overflow: auto;
    border: groove 2px rgb(130, 77, 77);
    border-radius: 60px;
    backdrop-filter: blur(5000px);
    background-color: transparent;
}
